// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0f172a;
$secondary: #334155;
$accent: #1d4ed8;

$dark: #0b1020;
$dark-page: #070b16;

$positive: #15803d;
$negative: #b91c1c;
$info: #0ea5e9;
$warning: #ca8a04;
